body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333333;
    font-size: 14px;
}


input {
    margin-bottom: 20px;
    font-size: 14px;
    color: #333333;
    border-radius: 20px;
    border: 2px solid #66C05D;
    background-color: transparent;
    padding: 10px 20px;
    transition: 0.2s ease;
    cursor: pointer;
    text-align: center;

}


.input-btn input:hover {
    background-color: #66C05D;
    color: #fff;
}

